
/* variables a ser usadas  */
:root {
    --primary:#88d4e9;
    --secundary:#000000;
    --background:#d9f7ff;
    --black-text:rgb(3, 3, 3);
    --white-text:#150070;
    --blue-gradient:linear-gradient(90deg,#42b983,#35495e);
    --button-hover:#5b79a2;
    --text-shadow:.2rem .2rem .2rem #0d0d0e;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: arial black;
    background-color: #d9f7ff;
}

nav {
    background-color: var(--primary);
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: var(--white-text);
    font-size: 3rem;
    letter-spacing: .2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    border-right:  1px solid rgba(92, 89, 89, 0.41);
    
}

nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    font-family: arial black;
}

nav ul li a:hover {
    background-color: var(--button-hover);
    transition: all .3s;
    border-bottom: solid .2rem var(--secundary);
}

.nav-enlaceSelect {
    
    transition: all .3s;
    border-bottom: solid .2rem var(--secundary);
}

.logo{
    width: 8%;
}




.drawer {
    font-size: 1rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

/* media query */



.Perfil {
    width:20%;
    height:auto;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

.Titulo {
    background-color: var(--primary);
    font-size:3vw;
    left: 50%;
    margin-left: 2%;
    margin-top: -20%;
    position: absolute;
}

.Texto {
    background-color: var(--primary);
    float: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2vw;
    margin-left: 30%;
    margin-top: 10%;
    z-index:-1;
}
.menu-box{
    z-index:1;
}


.tituloPortafolio {
    background-color: var(--primary);
    font-size:3vw;
    margin-top: 1%;
    width: 36%;
    border-radius: 20px;
    padding: 1%;
    margin-left: 30%;
}

.tableDesarrollos{
    margin-left: 10%;
    margin-top: 3%;
    border: 1px solid #000;
    border-spacing: 0px 3vw;
   
    background-color: var(--primary);
    border-radius: 20px;

    width: 80%;


}
.tableDesarrollos th, td {
    text-align: center;
    border-bottom: 1px solid #999;
    width: 25%;
    font-size:4vw;
}




@media (max-width:1039px) {
    nav{
        justify-content: flex-start;
        
    }
    .drawer{
        display: block;
    }

    nav h1{
        margin-left: 0.01rem;
 
    
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: var(--primary);
        top: 15vh;
        left:-100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
    }

    

    #ckbox:checked  ~ .menu-box{
        left:0;

    }
    #ckbox:checked  ~ .Titulo{
        visibility: hidden

    }

    #ckbox:checked  ~ .header{
        color: var(--white-text);
        font-size: 1rem;
        letter-spacing: .3rem;

    }
}


@media (max-width: 800px) {
    .logo {
        width: 8%;
    }
    header h1 {
        color: var(--white-text);
        background-color: var(--primary);
    font-size:5vw;

    }
    nav h1{
        margin-left: 5rem;
    }

    .Perfil {
        width:30%;margin-top: 10%;
    }
    .Titulo {        
        left: 15%;margin-top: -47%; 
        font-size: 5vw;      
    }
    
    .Texto {
        font-size:3vw;
        margin-right: 10%;
        margin-top: 10%;
    }

    .tituloPortafolio{
        font-size:5vw;
        width: 60%;
        margin-left: 20%;
        padding: 1%;
    }




}


@media (max-width: 415px) {
    .logo {
        width: 15%;
    }
    header h1 {
        color: var(--white-text);
        background-color: var(--primary);
    font-size:5vw;
    letter-spacing: .1rem;
    position: relative;
    left: -20%;

    }
    nav h1{
        margin-left: 5rem;
    }

    .Perfil {
        width:40%;margin-top: 10%;
        margin-left: 20%;
    }
    .Titulo {        
        left: 15%;margin-top: -92%; 
        font-size: 5vw;      
    }
    
    .Texto {
        font-size:3vw;
        margin-left: 0%;
        margin-top: 70%;
    }

    .tituloPortafolio{
        font-size:8vw;
        width: 90%;
        margin-left:5%;
        padding: 1%;
    }
 
    .tituloPortafolio th,td {
        font-size:5vw;
    }

}


@media (max-width: 299px) {
    .logo {
        width: 0%;
    }
    header h1 {
        color: var(--white-text);
        background-color: var(--primary);
    font-size:5vw;
    letter-spacing: .1rem;
    position: relative;
    left: -25%;

    }
    nav h1{
        margin-left: 5rem;
    }

    ul {
        width: 100%;
    }
}

@media (max-width: 192px) {
    .logo {
        width: 0%;
    }
    header h1 {
        color: var(--white-text);
        background-color: var(--primary);
    font-size:5vw;
    letter-spacing: .1rem;
    position: relative;
    left: -25%;

    }
    nav h1{
        margin-left: 5rem;
    }
}



